{% extends "layout.html" %}


{% block title %}
Login Admin - RajaPulsa
{% endblock %}



{% block content %}


<style>

body{

background:
linear-gradient(
135deg,
#020617,
#1d4ed8
);

}



.sidebar,
.topbar{

display:none !important;

}



.main-content{

width:100%;

}



.content{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

}




.login-card{

width:420px;

background:white;

padding:45px;

border-radius:25px;

box-shadow:

0 25px 60px

rgba(0,0,0,.35);

}



.logo-login{

text-align:center;

}



.logo-login .icon{

font-size:70px;

}



.logo-login h1{

font-size:32px;

margin:10px 0;

font-weight:800;

}



.logo-login p{

color:#64748b;

}




.input-group{

margin-bottom:20px;

}



.input-group label{

display:block;

font-weight:600;

margin-bottom:8px;

}



.input-group input{


width:100%;

padding:14px;

border-radius:12px;

border:1px solid #ddd;

font-size:15px;


}




.input-group input:focus{


outline:none;

border-color:#2563eb;

}



button{


width:100%;

padding:15px;


border:none;


border-radius:12px;


background:#2563eb;


color:white;


font-size:16px;


font-weight:bold;


cursor:pointer;


}




button:hover{


background:#1d4ed8;


}




.error{


margin-top:20px;


padding:12px;


background:#fee2e2;


color:#991b1b;


border-radius:10px;


text-align:center;


}



.footer{


margin-top:30px;


text-align:center;


font-size:13px;


color:#94a3b8;


}


</style>




<div class="login-card">



<div class="logo-login">


<div class="icon">

⚡

</div>


<h1>

RajaPulsa

</h1>


<p>

FlashPay Admin Panel

</p>


</div>






<form method="POST" action="/admin/login">



<div class="input-group">


<label>

Username

</label>


<input

type="text"

name="username"

placeholder="Username"

required

>


</div>





<div class="input-group">


<label>

Password

</label>


<input

type="password"

name="password"

placeholder="Password"

required

>


</div>




<button type="submit">


LOGIN ADMIN


</button>



</form>





{% if error %}


<div class="error">

{{ error }}

</div>


{% endif %}







<div class="footer">

RajaPulsa System

<br>

Version 1.0

</div>



</div>




{% endblock %}