{% extends "layout.html" %}


{% block content %}

<h2>
👥 User Management
</h2>


<div class="card">

<h3>
Total User
</h3>

<h1>
{{ total_user }}
</h1>

</div>



<div class="card">

<h3>
Total Saldo User
</h3>

<h1>
Rp {{ "{:,}".format(total_balance) }}
</h1>

</div>




<table border="1" width="100%" cellpadding="8">


<thead>

<tr>

<th>ID</th>

<th>Telegram ID</th>

<th>Username</th>

<th>Nama</th>

<th>Saldo</th>

<th>Status</th>

</tr>

</thead>



<tbody>


{% for user in users %}


<tr>


<td>
{{ user.id }}
</td>


<td>
{{ user.telegram_id }}
</td>


<td>
{{ user.username or "-" }}
</td>


<td>
{{ user.full_name or "-" }}
</td>


<td>
Rp {{ "{:,}".format(user.balance) }}
</td>


<td>
{{ user.status }}
</td>


</tr>


{% endfor %}


</tbody>


</table>


{% endblock %}